#tabuleiro {
    display: grid;
    grid-template-columns: repeat(4, 64px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.carta {
    width: 64px;
    height: 64px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 6px;
}